{% extends "basePower.html" %}
{% block content %}

{% load widget_tweaks %}
{% load static %}
{% load auth_extras %}

    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script type = "text/javascript">
      function deletePartner(){
        var pk = document.getElementById("id_Partner").value;
        if (pk ===''){

          alert('Please pick a partner')
        }
        else{
          var r = confirm("Are you sure you want to delete this partner");
          if (r==true){document.getElementById("delete").href = "/delete-partner/"+pk+"/"}
        }
      };
    </script>

    <div style = "  justify-content: center;">

    <div class="spacing1"></div>
    <h2>Edit Partner</h2>
    <div class="spacing1"></div>

    <form method="POST" class="post-form">
      {% csrf_token %}
      Partner : <select name="Partner" style="display:inline-block" class="form-control" id="id_Partner" data-autocomplete-light-url="/partner-autocomplete/" data-autocomplete-light-function="select2"></select>
      <div class='spacing1'></div>
      Updated Partner Name: <input type="text" name="PartnerName" maxlength="150" style="display:inline-block" class="form-control"/>
      <div class='spacing1'></div>
      {% if request.user|has_group:"Admin"%}
      Add a client : <select name="Client" multiple= "true" style="display:inline-block" class="form-control" id="id_Client" data-autocomplete-light-url="/client-autocomplete/" data-autocomplete-light-function="select2"></select>
      <div class="spacing1"></div>
      {%endif%}
      <button type = "submit">Edit Partner</button>
    </form>
    <div class="spacing1"></div>
    <a style="text-decoration: none;" id="delete" href="#" onclick="deletePartner()" ><button> Delete Partner</button> </a>


    <div class='spacing1'></div>
    <a href = "{%url 'analytics:home'%}"><button>Home</button></a>
    <div class='spacing1'></div>
    <div class='spacing1'></div>

  </div>
    {% endblock %}
