
{% extends "basePower.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block content %}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script>
var user = "{{user}}";
</script>
<div id="SampleApp"></div>
{% render_bundle 'vendors' %}
{% render_bundle 'SampleApp' %}

<a class="transparent_btn" href="{%url 'analytics:add_partner'%}">Add Partner</a>
<a class="transparent_btn" href="{%url 'analytics:add_kiosk'%}">Add Kiosk</a>

<div class="spacing1"> </div><div class="spacing1"> </div><div class="spacing1"> </div><div class="spacing1"> </div>

{% endblock %}
