{% extends 'basePower.html' %}
{% block content %}

<section>
    <h1 style="color:rgb(50,50,50)">Monthly Snapshot</h1>
    <div class="spacing1">

    </div>

    <div class = "transparentbox"> </div>
    <div class="spacing1"> </div>

    <!-- button code -->
    <div style="text-align:center;">
        <a style="text-decoration: none;"class="transparent_btn" href="#">Do something with this button</a>
        <div class="spacing1"> </div>
        <a style="text-decoration: none;" href="#hidden-div" data-target="#hidden-div" class="transparent_btn" data-toggle="collapse">This is the button that shows collapsed elements</a>
        <div id ="hidden-div" class ="collapse" style="color:black;">
            <div class="spacing1"> </div>
            Place search/ whatever in here

        </div>



    </div>

    <div class="spacing1"> </div>
    <div class="spacing1"> </div>
    <div class="spacing1"> </div>
    <div class="spacing1"> </div>

    <h1>Table Title</h1>
    <div class="spacing1"> </div>

    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Client</th>
            <th>Logo</th>
            <th>Location</th>
            <th>Kiosk </th>
            <th>Total Charge</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>University of Maryland</td>
            <td>placeholder</td>
            <td>Xfinity Center</td>
            <td>Online</td>
            <td>100%</td>
          </tr>
          <tr>
            <td>George Washington University</td>
            <td>placeholder</td>
            <td>Library</td>
            <td>Online</td>
            <td>100%</td>
          </tr><tr>
            <td>Johns Hopkins University</td>
            <td>placeholder </td>
            <td>Stadium</td>
            <td>Offline</td>
            <td>100%</td>
          </tr><tr>
            <td>DC</td>
            <td>placeholder </td>
            <td>Capital One Arena</td>
            <td>Online</td>
            <td>100%</td>
          </tr><tr>
            <td>Los Angeles</td>
            <td>placeholder </td>
            <td>Staples Center</td>
            <td>Online</td>
            <td>100%</td>
          </tr><tr>
            <td>New York City</td>
            <td>placeholder </td>
            <td>Madison Square Garden</td>
            <td>Online</td>
            <td>100%</td>
          </tr>
          <td>University of Maryland</td>
          <td>placeholder</td>
          <td>Xfinity Center</td>
          <td>Online</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>George Washington University</td>
          <td>placeholder</td>
          <td>Library</td>
          <td>Online</td>
          <td>100%</td>
        </tr><tr>
          <td>Johns Hopkins University</td>
          <td>placeholder </td>
          <td>Stadium</td>
          <td>Offline</td>
          <td>100%</td>
        </tr><tr>
          <td>DC</td>
          <td>placeholder </td>
          <td>Capital One Arena</td>
          <td>Online</td>
          <td>100%</td>
        </tr><tr>
          <td>Los Angeles</td>
          <td>placeholder </td>
          <td>Staples Center</td>
          <td>Online</td>
          <td>100%</td>
        </tr><tr>
          <td>New York City</td>
          <td>placeholder </td>
          <td>Madison Square Garden</td>
          <td>Online</td>
          <td>100%</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="spacing1"> </div>
    <a style="text-decoration: none;" class="transparent_btn" href="#">Add</a>
  </section>

  <div class="spacing1"> </div>
  <div class="spacing1"> </div><div class="spacing1"> </div><div class="spacing1"> </div>



{% endblock %}
