{% extends "basePower.html" %}
{% block content %}

{% load widget_tweaks %}
{% load static %}
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

    <form method="POST" class="post-form">
      {% csrf_token %}
      ID: {%render_field kioskform.ID class="form-control"  style="display:inline-block"%}
      <div class='spacing1'></div>
      Location: {%render_field kioskform.Location class="form-control" %}
      <div class='spacing1'></div>
      Client: {%render_field kioskform.Client class="form-control" %}

      <div class='spacing1'></div>
      <button type = "submit">Edit Station</button>
    </form>
    {% endblock %}
