{% extends 'basePower.html' %}
{% block content %}
{%load static%}
{% load widget_tweaks %}
{% load render_bundle from webpack_loader %}

    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script >var kiosk='{{ID}}'</script>
  <section>
    <div id="SampleApp2"></div>
    {% render_bundle 'vendors' %}
    {% render_bundle 'SampleApp2' %}
    <div style="width:200px">
    <form action="" method="POST">
    {% csrf_token %}
    Add a port:{% render_field portform.Port class="form-control" %}
    {% render_field portform.Type class="form-control" %}
    <input style="text-decoration: none;" type= "submit"class="transparent_btn" ></input>
  </form>
  </div>

    <div class="spacing1"> </div>
    {%if permission == 'admin'%}
    <h5> Admin Options </h5>
    <div class="spacing1"> </div>
    <form method="POST" action='#'>
      {% csrf_token %}
      Partner: {%render_field partnerform.Partner class="form-control" %}
      <input style="text-decoration: none;" type= "submit"class="transparent_btn" value="Assign To Partner" ></input>

    </form>
    <div class="spacing1"> </div>

    <a style="text-decoration: none;" class="transparent_btn" href="#">Ping</a>
    <a style="text-decoration: none;" class="transparent_btn" href="#">Reboot</a>
    {%endif%}



  </section>

  <div class="spacing1"> </div>
  <div class="spacing1"> </div><div class="spacing1"> </div><div class="spacing1"> </div>



{% endblock %}
