{% extends 'base.html' %}
{% block content %}

<section>
   
      <h1><span style="padding-right:5px">Kiosk ID:    </span><span>Port #:    </span> </h1>
    
    <div class="spacing1"> </div>
    <a style="text-decoration: none;" class="transparent_btn" href="#">Sort 1</a>
    <a style="text-decoration: none;" class="transparent_btn" href="#">Sort 2</a>
    <div class="spacing2"> </div>


    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Time Out</th>
            <th>Time In</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr><tr>
            <td>placeholder</td>
            <td>placeholder</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="spacing1"> </div>
    <a style="text-decoration: none;" class="transparent_btn" href="#">Export</a>
 



  </section>

  <div class="spacing1"> </div>
  <div class="spacing1"> </div><div class="spacing1"> </div><div class="spacing1"> </div>


  
{% endblock %}