container_commands:
    00_migrate:
        command: 'python manage.py migrate --noinput'
        leader_only: true
    02_npm_build:
        command: 'npm install package.json'
    04_collectstatic:
        command: 'python manage.py collectstatic --noinput'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djreact.settings"
    PYTHONPATH: "/opt/python/current/app/djreactl:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "djreact/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

packages:
  yum:
    git: []
    mysql: []
    mysql-server: []
