*.pyc
djreact/static/bundles/local/
node_modules/
webpack-stats-local.json
webpack.local-settings.js
djreact/settings.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
